In [0]:
#First create data frame and then write as delta table 
df = spark.createDataFrame([
    (1, "Alice", "NY", 100000.0),
    (2, "Bob", "CA", 90000.0)
], ["id", "name", "city", "salary"])

df.write.format("delta").saveAsTable("default.my_delta_table")

In [0]:
from delta.tables import *
#Creates emplty delta table 
DeltaTable.create(spark)\   #To check if table already exists mention CreateIfNotExists , #CreateOrReplace 
    .tableName("emp_name")\
        .addColumn("id", "int")\
        .addColumn("name", "string")\
        .addColumn("city", "string")\
        .addColumn("salary", "double")\
        .execute()

In [0]:
%sql
select * from emp_name;

In [0]:
#Using SQL:
#Create table IF NOT EXISTS / CREATE OR REPLACE
spark.sql("""
create table emp_demos(    
    emp_id INT, 
    name STRING, 
    salary INT
) USING DELTA
""")  
#Location can be mentioned at last

DataFrame[]